[Desktop Entry]
Type=Application
Name=conky
Exec=sh -c "conky --daemonize --pause=5; conky --daemonize --pause=5 --config=~/.config/conky/clock.conf"
StartupNotify=false
Terminal=false
